# Dumb Machine Learning on Recruiting Data

This notebook is runs random ML models on a sample size of 18 to find out which variables are best for predicting output. 

DISCLAIMER: This data is all entirely made up and is not proprietary information whatsoever. Any similaraties to internal recruiting data is purely coincidentatal plz dont sue me :)

## Importing Packages

In [1]:
import csv
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

## Exploratory Data Analysis

In [2]:
csv_file_path = 'Data/data.csv'

df = pd.read_csv(csv_file_path)

display(df.head(5))

,Data Structures and Algorithms,Coding,Structured Problem Solving,Commerciality,Communication,Recommendation
0,2,3,4,4.0,5.0,No
1,3,2,3,NaN,4.0,Yes
2,1,1,1,1.0,1.0,No
3,3,4,3,4.0,3.0,Yes
4,3,3,2,4.0,3.0,Yes

Clearly there is work to be done. Lets first find out the number of NaN values so we know what to do with them

In [3]:
df.isna().sum()

Data Structures and Algorithms    0
Coding                            0
Structured Problem Solving        0
Commerciality                     6
Communication                     1
Recommendation                    0
dtype: int64

Clearly, the "Commerciality" column is not very useful since 33% of the values are NaN. Furthermore, what even is the Commerciality of a student? This column should be dropped. For the other NaN value, lets just set it to 1.

In [4]:
df = df.drop('Commerciality', axis=1)
df['Communication'].fillna(1, inplace=True)
display(df.head(5))

,Data Structures and Algorithms,Coding,Structured Problem Solving,Communication,Recommendation
0,2,3,4,5.0,No
1,3,2,3,4.0,Yes
2,1,1,1,1.0,No
3,3,4,3,3.0,Yes
4,3,3,2,3.0,Yes

In [ ]:
#convert Communication Column from Type Float to Int